.test {
  width: 100%;
  height: 120px;
  float: left;
  margin-bottom: 10px;
  .container {
    width: 100%;
    height: 50%;
    float: left;
    position: relative;
    margin-bottom: 5px;
    span {
      color: white;
    }
    
    .being-snapped { 
      width: 60px; 
      height: 60px; 
      background-color: green; 
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
    }

    .snapped-to {
      width: 60px; 
      height: 60px; 
      background-color: red; 
      text-align: center; 
      position: absolute;
      top: 0; 
      left: 0;
    }

  }
  
  button {
    float: left;  
  }

  // Test-specific
  &.snap-right > .container {
    .snapped-to {
      left: 80px;
    }
  }

  &.snap-left > .container{
    .being-snapped {
      top: 0;
      left: 80px;
    }
    .snapped-to {
      top: 0;
      left: 0;
    }
  }

  &.snap-up {
    margin-bottom: 30px;

    .container {
      .being-snapped {
        height: 60px;
        width: 60px;
        top: 80px;
        left: 0;
      }

      .snapped-to {
        height: 60px;
        width: 60px;
        top: 0;
        left: 0;
      }
    }
    button {
      position: relative;
      left: 70px;
    }
  }

  &.snap-down {
    .container {
      .being-snapped {
        height: 60px;
        width: 60px;
        top: 0;
        left: 0;
      }

      .snapped-to {
        height: 60px;
        width: 60px;
        top: 80px;
        left: 0;
      }
    }
    button {
      position: relative;
      left: 70px;
    }
  }
}