!!! 5

%html
	%head
		%title Directional Snapping
		%link{:rel =>"stylesheet", :type =>"text/css", :href =>"css/styles.css"}
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
		%script{:src => "scripts/snaphelper.js"}
	%body
		#being-snapped
			%span Snap Me
		#snapped-to
